<div class="container">
  <app-card
  [cardText]="'Projeto de login com stack MERN (MongoDB, Express, React e Node.js)'"
  [cardHeader]="'MERN LOGIN'"
  [cardParagraph]="'Ir para o repositório'"
  [cardLink]="'https://github.com/samuelmendespy/bootcamps/tree/main/mern-login'"
  >
</app-card>
  <app-card
  [cardText]="'Projeto Spring para Gestão de inventário'"
  [cardHeader]="'STANDARD'"
  [cardParagraph]="'Ir para o repositório'"
  [cardLink]="'https://github.com/samuelmendespy/bootcamps/tree/main/standard-java'"
  >
</app-card>
  <app-card
  [cardText]="'Meu primeiro projeto com Kafka'"
  [cardHeader]="'KAFKA'"
  [cardParagraph]="'Ir para o repositório'"
  [cardLink]="'https://github.com/samuelmendespy/bootcamps/tree/main/course-kafka'"
  >
</app-card>
<app-card
  [cardText]="'Projeto Android com Kotlin para notificação de eventos programados.'"
  [cardHeader]="'Hello Tempo'"
  [cardParagraph]="'Ir para o repositório'"
  [cardLink]="'https://github.com/samuelmendespy/bootcamps/tree/main/course-android-jetpack'"
  >
  <app-card
  [cardText]="'Projeto Android com Kotlin para previsão do tempo local.'"
  [cardHeader]="'Hello Tempo'"
  [cardParagraph]="'Ir para o repositório'"
  [cardLink]="'https://github.com/samuelmendespy/bootcamps/tree/main/hello-tempo'"
  >
</app-card>