<div class="container">
  <app-card
  [cardText]="'
  Eu constantemente busco aprender e compartilhar conhecimentos. Na infância eu montei o meu primeiro aplicativo com J2ME, hoje programo com paixão e desenvolvo soluções de valor para o mercado.'"
  [cardHeader]="'Sobre mim'"
  [cardParagraph]="'Mais detalhes'"
  [cardRouteLink]="'about'"
  >
</app-card>
  <app-card
  [cardText]="'Tenho projetos com Spring, Angular, Flutter e mais... Veja alguns!'"
  [cardHeader]="'PROJETOS'"
  [cardParagraph]="'Mais sobre meus projetos'"
  [cardRouteLink]="'projects'"
  >
</app-card>
</div>