<div class="container">
  <app-card
  [cardText]="'
  Um desenvolvedor movido por desafios e que busca aprender constantemente, tem como áreas de interesse gestão financeira empresarial, e-commerce e desenvolvimento humano. '"
  [cardHeader]="'Sobre mim'"
  [cardParagraph]="'Mais detalhes'"
  [cardRouteLink]="'about'"
  >
</app-card>
  <app-card
  [cardText]="'Spring ou Node? React ou Angular?... Minha escolha é o que melhor para o projeto!'"
  [cardHeader]="'PROJETOS'"
  [cardParagraph]="'Mais sobre meus projetos'"
  [cardRouteLink]="'projects'"
  >
</app-card>
</div>